{minimum_otp_vsn, "27"}.

{erl_opts, [debug_info, warnings_as_errors]}.

{dialyzer, [
    % Fixes a bug on 'doctest_eunit':
    %
    %     $ rebar3 dialyzer
    %     src/doctest_eunit.erl
    %     Line 36 Column 32: Unknown function rebar3:init_config/0
    %     Line 49 Column 17: Unknown function rebar_state:command_parsed_args/1
    %     Line 50 Column 17: Unknown function rebar_state:get/3
    %
    {warnings, [no_unknown]},
    {plt_extra_apps, [syntax_tools, compiler, eunit]}
 ]}.

{deps, []}.

{project_plugins, [rebar3_hex, rebar3_ex_doc]}.

{hex, [{doc, #{provider => ex_doc}}]}.

{ex_doc, [
    {extras, [
        {'README.md', #{title => <<"Overview">>}},
        {'LICENSE.md', #{title => <<"License">>}}
    ]},
    {main, <<"README.md">>},
    {homepage_url, <<"https://github.com/williamthome/doctest">>},
    {source_url, <<"https://github.com/williamthome/doctest">>}
]}.

{profiles, [
    {test, [
        {erl_opts, [{extra_src_dirs, ["test/support"]}]}
    ]}
]}.

{alias, [
    {test,  [ct, eunit]},
    {check, [ct, eunit, dialyzer]}
]}.
